# build/artifacts
/target/
*.log

# editor/lsp
/.calva/
/.clj-kondo/.cache/
/vscode/
/.idea/

# OS
.DS_Store
Thumbs.db

# REPL/lein
.lein-repl-history
.nrepl-port

# demo baza (kreira se sama)
src/task_manager/tasks.json
